@model SisOdonto.Application.Models.Attendant.AttendantDataModel

@{
    ViewData["Title"] = "Remover Atendente";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]?</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<div class="modal-body">
    <form asp-action="Delete">


        <div class="modal-footer justify-content-between" style="border-top: 0 !important; padding-right: 0 !important; padding-left: 0 !important;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin: 0 !important;">Fechar</button>
            <input type="submit" value="Remover" style="margin: 0 !important;" class="btn btn-primary toastrDefaultSuccess" />
        </div>

    </form>
</div>

<script>
    $(function () {
        $('[data-mask]').inputmask();
    });
</script>

