@model SisOdonto.Application.Models.Patient.PatientDataModel

@{
    ViewData["Title"] = "Dados do Paciente";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<div class="modal-body">
    <form asp-action="Details">
        <div class="row">

            <div class="col-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="col-3">
                <label asp-for="BirthDate" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input asp-for="BirthDate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask readonly>
                </div>
            </div>
            <div class="col-3">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" readonly />
            </div>

            <div class="col-6">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" readonly />
            </div>
            <div class="col-2">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" readonly />
            </div>
            <div class="col-4">
                <label asp-for="Complement" class="control-label"></label>
                <input asp-for="Complement" class="form-control" readonly />
            </div>

            <div class="col-6">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" readonly />
            </div>

            <div class="col-4">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" readonly />
            </div>

            <div class="col-2">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" readonly />
            </div>


            <div class="col-6">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" readonly />
            </div>



            <div class="col-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>



            <div class="col-6">
                <label asp-for="HealthInsuranceId" class="control-label"></label>
                <select asp-for="HealthInsuranceId" class="form-control" asp-items="@(new SelectList(Model.HealthInsurances, "Id", "Name"))" disabled>
                    <option></option>
                </select>
            </div>

            <div class="col-6">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <select asp-for="MaritalStatus" class="form-control" disabled>
                    <option value="">Estado Civil</option>
                    <option value="1">Solteiro</option>
                    <option value="2">Casado</option>
                    <option value="3">Divorciado</option>
                    <option value="4">Viúvo</option>
                    <option value="5">União Estável</option>
                </select>
            </div>

            <div class="col-6">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" disabled>
                    <option value="">Gênero</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                    <option value="3">Outro</option>
                </select>
            </div>
            
            <div class="col-6">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" readonly />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" data-inputmask='"mask": "(99) 9999-9999"' data-mask readonly/>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="Cellular" class="control-label"></label>
                <input asp-for="Cellular" class="form-control" data-inputmask='"mask": "(99) 99999-9999"' data-mask readonly/>
                <span asp-validation-for="Cellular" class="text-danger"></span>
            </div>

        </div>

        <div class="modal-footer" style="border-top: 0 !important; padding-right: 0 !important; padding-left: 0 !important;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin: 0 !important;">Fechar</button>
        </div>

    </form>
</div>

<script>
    $(function () {
        $('[data-mask]').inputmask();
    });
</script>

