@model SisOdonto.Application.Models.Dentist.DentistDataModel

@{
    ViewData["Title"] = "Cadastro de Dentista";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<div class="modal-body">
    <form asp-action="Create">
        <div class="row">

            <vc:Summary></vc:Summary>

            <div class="col-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="BirthDate" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input asp-for="BirthDate" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                </div>

                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" readonly />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Complement" class="control-label"></label>
                <input asp-for="Complement" class="form-control" />
                <span asp-validation-for="Complement" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" readonly />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>

            <div class="col-4">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" readonly />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" readonly />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>


            <div class="col-6">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>



            <div class="col-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="col-6">
                <label asp-for="Expertise" class="control-label"></label>
                <select asp-for="Expertise" class="form-control">
                    <option value="">Escolha Uma Especialidade</option>
                    <option value="1">Clínico Geral</option>
                    <option value="2">Ortodontia</option>
                    <option value="3">Implantodontia</option>
                    <option value="4">Endodontia</option>
                </select>
            </div>


            <div class="col-3">
                <label asp-for="Cro" class="control-label"></label>
                <input asp-for="Cro" class="form-control" />
                <span asp-validation-for="Cro" class="text-danger"></span>
            </div>
            
            <div class="col-3" style="padding-top: 2.3rem; text-align: center;">
                <div class="icheck-primary d-inline">
                    <input type="checkbox" asp-for="CreateUser">
                    <label  asp-for="CreateUser"></label>
                </div>
            </div>


        </div>

        <div class="modal-footer justify-content-between" style="border-top: 0 !important; padding-right: 0 !important; padding-left: 0 !important;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin: 0 !important;">Fechar</button>
            <input type="submit" value="Cadastrar" style="margin: 0 !important;" class="btn btn-primary toastrDefaultSuccess" />
        </div>

    </form>
</div>

<script>
    BuscaCep();
</script>

<script>
    $(function () {
        $('[data-mask]').inputmask();
    });
</script>