@model SisOdonto.Application.Models.HealthInsurance.HealthInsuranceDataModel

@{
    ViewData["Title"] = "Editar Cadastro do Convênio";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<div class="modal-body">
    <form asp-action="Edit">
        <div class="row">

            <input type="hidden" asp-for="Id" />

            <vc:Summary></vc:Summary>

            <div class="col-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="col-6">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="">Escolha Uma Especialidade</option>
                    <option value="1">Individual</option>
                    <option value="2">Empresarial</option>
                </select>
            </div>


        </div>

        <div class="modal-footer justify-content-between" style="border-top: 0 !important; padding-right: 0 !important; padding-left: 0 !important;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin: 0 !important;">Fechar</button>
            <input type="submit" value="Atualizar" style="margin: 0 !important;" class="btn btn-primary toastrDefaultSuccess" />
        </div>

    </form>
</div>

    <script>
        BuscaCep();
    </script>

    <script>
        $(function () {
            $('[data-mask]').inputmask();
        });
    </script>




