@using SisOdonto.App.Areas.Identity.Pages.Account.Manage
@model SisOdonto.Application.Models.Common.UpdatePasswordModel

@{
    ViewData["Title"] = "Editar Senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = null;
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
    </button>
</div>

<div class="modal-body">
    <form asp-action="ChangeNewPassword">
        <vc:summary></vc:summary>
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="modal-footer justify-content-between" style="border-top: 0 !important; padding-right: 0 !important; padding-left: 0 !important;">
            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin: 0 !important;">Fechar</button>
            <input type="submit" value="Editar Senha" style="margin: 0 !important;" class="btn btn-primary toastrDefaultSuccess" />
        </div>
    </form>

</div>